body {
    background-color: #DA7C02;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    margin: 0%;
}

* {
    color: #393731;
    font-family: 'Contrail One';
    text-align: center;
    font-size: larger;
    margin: 10px;
}

h1 {
    font-size: 50pt;
}

/* From Uiverse.io by CYBWEBALI */
select, button {
    display: grid;
    place-items: center;
    background: #e3edf7;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(0.5em);
}

table {
    border-collapse: collapse;
    font-size: medium;
    margin: 10px;
    
}

td, th {
    border: 1px solid #dddddd7b;
    text-align: left;
    padding: 8px;
    width: 50%;
    /* font-size: medium; */
}

tr:nth-child(even) {
    background-color: #dddddd7b;
}